absl-py==0.12.0
alabaster==0.7.12
altair==4.1.0
asn1crypto==0.24.0
astor==0.8.1
astroid==2.1.0
astropy==3.1
atomicwrites==1.2.1
attrs==18.2.0
awesome-streamlit==20200728.1
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
base58==2.0.1
Beaker==1.11.0
beautifulsoup4==4.6.3
bitarray==0.8.3
bkcharts==0.2
bleach==3.0.2
blinker==1.4
blis==0.2.4
bokeh==1.0.2
boto==2.49.0
boto3==1.17.69
botocore==1.20.69
Bottleneck==1.2.1
cachetools==4.2.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
idna==2.8
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==0.6
imutils==0.5.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.2.1
nltk==3.4
numpy==1.18.5
numpydoc==0.8.0
opencv-contrib-python-headless==4.5.2.52
openpyxl==2.5.12
pandas==1.0.5
pandocfilters==1.4.2
parso==0.3.1
Pillow==8.1.0
plotly==4.14.1
ply==3.11
py==1.7.0
pyarrow==2.0.0
Pygments==2.3.1
pylint==2.2.2
Pylons==1.0
scikit-image==0.14.1
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.9.0
spacy==2.1.8
streamlit==0.73.1
tensorboard==1.15.0
tensorflow-cpu==1.15.0
tensorflow-cpu-estimator==1.15.1
tornado==5.1.1
validators==0.18.1
waitress==2.0.0
wasabi==0.8.2
watchdog==1.0.1
wordcloud==1.8.1
wrapt==1.12.1
